#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.team-left {
  color: #1eff40;
  font-size: 1.5rem;
}

.left-team-title {
  margin-bottom: 0.2rem;
} 

.left-score-value {
  font-size: 8rem;
  color: #1eff40;
  margin-bottom: .1rem;
} 

.team-right {
  color: #00f2ff;
  font-size: 1.5rem;
}

.right-team-title {
  margin-bottom: 0.2rem;
} 

.right-score-value {
  font-size: 8rem;
  color: #00f2ff;
  margin-bottom: .1rem;
}
